<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mortgage Rate Lookup</title>
    <style>
        body {
            background-image: grey; 
            background-size: cover;
            background-repeat: no-repeat; 
        }        
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <img src="/static/logo.jpeg" alt="Baynovation Logo" 
    style="position: absolute; left: 30px; top: 80px; font-size: small; border-radius: 100%;">

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <h1 style="position: absolute; left: 505px; top: 70px; font-size:xx-large; color: whitesmoke;">Refinance break-even point Calculator</h1>
    

</body>
</html>
